<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SemaineBloquee_DAI</display-name>
  
  <servlet>
  	<servlet-name>justificatif</servlet-name>
  	<jsp-file>/depotJustificatif.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>accueil</servlet-name>
  	<jsp-file>/index.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>justificatif</servlet-name>
  	<url-pattern>/Justificatif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>accueil</servlet-name>
  	<url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>depotJustificatif.jsp</welcome-file>
  </welcome-file-list>
</web-app>